<title> Need For Speed </title>

<div id="post_show">
  <h1>Need For Speed</h1>
  <br>
  <div class="clearfix">
    
    <div class="post_image_description">
      <%= image_tag 'need.jpg' %>
      <div class="description">
        <%= simple_format "Apple pie brownie cheesecake. Caramels croissant marshmallow powder cake jelly-o liquorice. Pudding halvah icing marzipan. Marzipan tiramisu caramels apple pie biscuit toffee pudding cotton candy. Oat cake carrot cake ice cream topping pie lemon drops gingerbread macaroon. Cotton candy toffee lollipop dessert jelly-o. Chupa chups croissant cake chocolate bar sweet roll lollipop. Muffin toffee chocolate marzipan tiramisu sugar plum pastry lollipop. Gummies donut candy sugar plum liquorice powder. Toffee biscuit chocolate cake marzipan wafer. Biscuit jujubes tootsie roll chupa chups sesame snaps toffee. Muffin bonbon marzipan chocolate cake marshmallow biscuit." %>
      </div>
    </div>
    <div class="post_data">
      <%= link_to "Play Game", root_path, class: "button" %>
      <%= link_to "Instructions", root_path, class: "button" %>
      <%= link_to "Achievements", root_path, class: "button" %>
      
    </div>

  </div>
</div>
