<!DOCTYPE html>
<html>
<title> Catch The Phrase </title>

<div id="post_show">
  <h1>Catch The Phrase</h1>
  <br><br><br>
  <div class="clearfix">
    
    <div class="post_image_description">
      <%= image_tag 'catch.jpg' %>
	  <br><br><br>
      <div class="description">
        <%= simple_format "Dessert carrot cake macaroon. Brownie bonbon pie chupa chups sweet roll. Apple pie jujubes brownie chocolate oat cake soufflé. Oat cake soufflé lollipop muffin. Chocolate pie sweet roll carrot cake. Gummies chocolate bar chupa chups pie. Bear claw cake cookie. Cheesecake gummies pastry. Chupa chups jelly beans sweet roll cotton candy cotton candy dessert biscuit ice cream. Fruitcake jelly beans tootsie roll icing biscuit chocolate bar. Jelly donut gingerbread candy carrot cake brownie gummi bears. Donut cheesecake ice cream. Jujubes wafer croissant sweet gingerbread cheesecake jelly jelly beans danish." %>
      </div>
    </div>
    <div class="post_data">
      <%= link_to "Play Game", game1_play_path(:level => 1), class: "button" %>
      <%= link_to "Instructions", game1_instruction_path, class: "button" %>
      <%= link_to "Achievements", root_path, class: "button" %>
      
    </div>

  </div>
</div>
</html>


