<!DOCTYPE html>
<html>

<title>Welcome</title>

<div class="post">
<h1><center>
	<br>
    <b>Level: <%= @game1.level.inspect %> <br>
    <br> User Level: <%= @user.lvgame1.inspect %> <br>
	<br> User Ruby: <%= @user.rubynumber.inspect %></b>
    <b><% %></b>
	<br><br><%=image_tag @game1link, :size =>"450x450", :class => "game_image" %>
	<br><% @game1 %></br> 
</center></h1>
</div>

<body><center>
	
	<br><b>Answer: </b><br><br>
	
	<%= form_tag game1_play_path(@game1), :method => :get, :id => "text_form" do %>
		
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<%= text_field_tag "answer", "" ,class: 'textbox_game' %>
		<%= link_to "Hint", game1_play_path(@game1), class: "button_hint" %>
		<br><br>
		<%= submit_tag("Submit", :class => "button_game") %>
		
		
	<% end %>

	
</center></body>

</html>