<!DOCTYPE html>
<html>

<title>Welcome</title>

<div class="post">
<h1>
    <div class="pull-left">
    	Level: <%= @game1.level.inspect %>
    </div>    
    <div class="pull-right">
    	User Ruby: <%= @user.rubynumber.inspect %>
    </div>
    <center>
	<br>
	<%=image_tag @game1link, :size =>"360x360", :class => "game_image" %>
</center></h1>
</div>

<body>
	<center>
	<%= form_tag game1_play_path(@game1), :method => :get, :id => "text_form" do %>

		<%= text_field_tag "answer", "" ,class: 'textbox_game', id: 'ans', placeholder: 'Answer' %>
		<br><br>

		<button onclick="check()" class="btn blue">Submit</button>
		<button	class="btn green" onclick="hint()">Hint</button>

	<% end %>
	
	<script>

	function check(){
		var answer = '<%= @game1answer %>';
		var answer_user = document.getElementById("ans").value;
		
		if (answer_user != "") {
			if (answer_user != answer) {
				window.alert("Incorrect!");
			} else {
				window.alert("Correct! The answer is: " + answer);
			}
		}
	}
	
	function hint() {
		var str = '<%= @hint %>';
		var ruby_number = '<%= @user.rubynumber %>';

		if (ruby_number < 40) {
			window.alert("Sorry ! You don't have enough ruby to get a hint");
		} else {
			window.alert("Hint: " + str + "...");
		}
	}
	
	</script>

	
</center></body>

</html>