<% if user_signed_in? %>
  <p id="intro">
    Hello
    <%= current_user.name %>
    <br/>
    <span>
     Let's have some fun!
    </span>
  </p>
<% else %>
  <p id="intro">
    Welcome to our Website
    <br/>
    <span>
      Sign Up now to play our Free Games!
    </span>
  </p>
<% end %>


<% if user_signed_in? -%>

	<br>
	<div id="posts"><center>
		<div class="post"><center>
		   <%= link_to image_tag("phrase.jpg", :class => "post_image"), game1_path %>
		   
		  <div class="post_content">
			<div class="title">
			  <h2>
				<%= link_to "Catch The Phrase", game1_path %>
			  </h2>
			</div>
			<div class="data clearfix">
			  <p>
				The famous word guessing game is now available on our website. Try now for FREE!
			  </p>
			</div>
		  </div>
		</div>  
	</div>
	
	<br>
	<div id="posts"><center>
		<div class="post"><center>
		   <%= link_to image_tag("millionaire.jpg", :class => "post_image"), game1_path %>
		   
		  <div class="post_content">
			<div class="title">
			  <h2>
				<%= link_to "Who Wants To Be A Millionaire", game1_path %>
			  </h2>
			</div>
			<div class="data clearfix">
			  <p>
				Based on an international television game show. Test your knowledge with a series of multiple-choice questions of increasing difficulty.
			  </p>
			</div>
		  </div>
		</div>
	</div>
	
	<br>
	<div id="posts"><center>
		<div class="post"><center>
		   <%= link_to image_tag("song.jpg", :class => "post_image"), game1_path %>
		   
		  <div class="post_content">
			<div class="title">
			  <h2>
				<%= link_to "Guess The Song", game1_path %>
			  </h2>
			</div>
			<div class="data clearfix">
			  <p>
				Who doesn’t love music? Enjoy listening to our various songs and become the Music Master!
			  </p>
			</div>
		  </div>
		</div>
	</div>
	
	
	
<% else -%>
	<br>
	<div id="posts"><center>
		<div class="post"><center>
		   <%= link_to image_tag("phrase.jpg", :class => "post_image"), new_user_session_path %>
		   
		  <div class="post_content">
			<div class="title">
			  <h2>
				<%= link_to "Catch The Phrase", new_user_session_path %>
			  </h2>
			</div>
			<div class="data clearfix">
			  <p>
				The famous word guessing game is now available on our website. Try now for FREE!
			  </p>
			</div>
		  </div>
		</div>  
	</div>
	
	<br>
	<div id="posts"><center>
		<div class="post"><center>
		   <%= link_to image_tag("millionaire.jpg", :class => "post_image"), new_user_session_path %>
		   
		  <div class="post_content">
			<div class="title">
			  <h2>
				<%= link_to "Who Wants To Be A Millionaire", new_user_session_path %>
			  </h2>
			</div>
			<div class="data clearfix">
			  <p>
				Based on an international television game show. Test your knowledge with a series of multiple-choice questions of increasing difficulty.
			  </p>
			</div>
		  </div>
		</div>
	</div>
	
	<br>
	<div id="posts"><center>
		<div class="post"><center>
		   <%= link_to image_tag("song.jpg", :class => "post_image"), new_user_session_path %>
		   
		  <div class="post_content">
			<div class="title">
			  <h2>
				<%= link_to "Guess The Song", new_user_session_path %>
			  </h2>
			</div>
			<div class="data clearfix">
			  <p>
				Who doesn’t love music? Enjoy listening to our various songs and become the Music Master!
			  </p>
			</div>
		  </div>
		</div>
	</div>
<% end -%>