<title> FIFA 16 </title>

<div id="post_show">
  <h1>FIFA 16 </h1>
  <br>
  <div class="clearfix">
    
    <div class="post_image_description">
      <%= image_tag 'fifa3.jpg' %>
      <div class="description">
        <%= simple_format "Chocolate cake toffee lemon drops marshmallow pudding wafer. Gummies marzipan carrot cake icing fruitcake toffee chocolate bar candy canes. Biscuit sugar plum brownie ice cream liquorice. Brownie donut gingerbread cake. Marzipan tiramisu macaroon chocolate cake gummies biscuit. Donut jelly beans soufflé pie. Gummies ice cream sesame snaps chocolate cake soufflé toffee. Fruitcake icing caramels bear claw pie. Sweet roll apple pie chupa chups muffin dragée caramels. Candy bonbon apple pie icing. Sweet cotton candy jelly liquorice macaroon macaroon. Sweet roll cheesecake cupcake danish lemon drops. Candy marshmallow toffee sugar plum." %>
      </div>
    </div>
    <div class="post_data">
      <%= link_to "Play Game", root_path, class: "button" %>
      <%= link_to "Instructions", root_path, class: "button" %>
      <%= link_to "Achievements", root_path, class: "button" %>
      
    </div>

  </div>
</div>
